*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* as we want 10px as font-size, we divide 10px with 16px (default fontsize) = 62.5% */
}

body {
    box-sizing: border-box;
}